@media(min-width: 900px) {
    .landing-page-carousel{
        height: 525px;
        background-color: #F1F8FF;
    }

    .services{
        position: relative;
        width: 100vw;
        padding-top: 178px;
        padding-bottom: 180px;
    }

    .our-story-pane{
        background-color: #F1F8FF;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .channels-pane{
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .reviews-pane{
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .get-started{
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #25F1CC;
    }

    footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .login-form-section{
        padding-left: 115px;
        padding-right: 115px;
    }

    .landing-page-carousel-caption{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        /* padding-left: 100px; */
        /* background-color: #25F1CC; */
    }
}