body{
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* background-color: aqua; */
}

.body{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}

.landing-page-carousel{
    height: 400px;
    background-color: #F1F8FF;
}

.carousel_{
    height: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.landing-page-carousel-caption{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    /* padding-left: 10px; */
    /* background-color: #25F1CC; */
}

.services{
    position: relative;
    width: 100vw;
    padding-top: 97px;
    padding-bottom: 97px;
}

.services-tile-lane{
    padding-top: 50px;
}

.primary-button{
    background-color: transparent;
    border: 2px rgb(16, 1, 60) solid;
    border-radius: 1px;
    transition: 0.3s ease-out;
    color: rgb(16, 1, 60);
}

.primary-button:hover{
    background-color: rgb(16, 1, 60);
    border: 2px rgb(16, 1, 60) solid;
    color: white;
    transition: 0.1s ease-in;
}

.inverted-primary-button{
    background-color: rgb(16, 1, 60);
    border: 2px rgb(16, 1, 60) solid;
    border-radius: 1px;
    transition: 0.3s ease-out;
    color: white;
}

.inverted-primary-button:hover{
    background-color: white;
    border: 2px rgb(16, 1, 60) solid;
    color: rgb(16, 1, 60);
    transition: 0.1s ease-in;
}

.default-text-css{
    color: rgb(90, 90, 90);
    font-size: small;
    /* letter-spacing: 0.3px; */
    /* word-spacing: 1.5px; */
}

.sign-up-text{
    color: rgb(99, 98, 98);
    font-size: medium;
    font-weight: 700;
}

.default-heading-text{
    color: rgb(0, 8, 39);
    font-size: medium;
    font-weight: 800;
    text-decoration: none;
}

.default-heading-text:active{
    color: rgb(0, 8, 39);
    font-size: medium;
    font-weight: 800;
    text-decoration: none;
}

.default-heading-text:hover{
    color: rgb(0, 8, 39);
    font-size: medium;
    font-weight: 800;
    text-decoration: none;
}

.our-story-pane{
    background-color: #F1F8FF;
    padding-top: 97px;
    padding-bottom: 97px;
}

.secondary-button{
    background-color: #7FFED4;
    border: none;
    border-radius: 1px;
    transition: 0.3s ease-out;
    color: rgb(16, 1, 60);
}

.secondary-button:hover{
    background-color: #4ddaab;
    border: none;
    transition: 0.1s ease-in;
}

.channels-pane{
    padding-top: 97px;
    padding-bottom: 97px;
}

.reviews-pane{
    padding-top: 97px;
    padding-bottom: 97px;
    background-color: #F9FCFC;
}

.spacer2{
    padding-top: 6px;
    padding-bottom: 6px;
}

.get-started{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #25F1CC;
    color: white;
}

.white-button{
    background-color:white;
    border: none;
    border-radius: 150px;
    transition: 0.3s ease-out;
    color: #10013c;
}

.white-button:hover{
    background-color: #f1f1f1;
    border: none;
    transition: 0.1s ease-in;
}

.x2-word-spacing{
    word-spacing: 2px;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-black-link{
    text-decoration: none;
    color: black;
}

.default-black-link:active{
    text-decoration: none;
    color: black;
}

.default-black-link:hover{
    text-decoration: none;
    color: black;
}

.my-progress-bar{
    height: 5px;
    background-color: white;
}

.my-progress-bar .progress-bar{
    background-color: #4ddaab;
}

.login-form-section{
    padding-left: 20px;
    padding-right: 20px;
}

.custom-input-login-r{
    background-color: #F0FBFF;
    border: 2px solid #EEF7FA;
    font-size: small;
}

.custom-input-login-r:focus{
    background-color: #F9FEFF;
    border: 2px solid #EDF4F6;
}

.loading{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 0px;
    height: 0px;
}

.carousel-image-c{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-bottom-right-radius: 1300px;
    /* background-color: #25F1CC; */
}

.carousel-image-c img{
    float: right;
}
